.header{
    position: relative;
    width: 100%;
    padding: 5px 0;
    z-index: 999;
}
.header__logo{
    display: block;
}
.header__nav{
    list-style-type: none;
}
.header__nav__item{
    float: right;
    position: relative;
}
.header__nav__item a{
    font-family: pt sans caption,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    color: #0DB80C;
    transition: 0.4s;
    text-decoration: none;
    display: block;
    margin-left: 30px;
}
.header__nav__item--submenu li{
    position: relative;
}
.header__nav__item--submenu a{
    padding: 0 30px;
    margin-left: 0;
}
.header__nav__item a:hover{
    opacity: 0.6;
    color: #bfbab0;

}
.header__nav__item--submenu{
    position: absolute;
    padding: 0;
    list-style-type: none;
    transform: rotateY(90deg);
    opacity: 0;
    min-width: 230px;
    transition: 0.4s;
    left: -100%;
    border: 1px solid #0DB80C;
}
.header__nav__item a:hover ~ .header__nav__item--submenu{
    transform: rotateY(0deg);
    opacity: 1;
}
.header__nav__item--submenu:hover{
    transform: rotateY(0deg);
    opacity: 1;
}
.header__nav__item--submenu li:hover{
    color: white
}
.header__nav__item--submenu2{
    position: absolute;
    top: 0;
    left: -87%;
    list-style-type: none;
    background-color: #151515;
    transform: rotateY(90deg);
    opacity: 0;
    transition: 0.4s;
    padding: 0;
}
.header__nav__item--submenu2 a{
    padding: 0 30px;
    margin-left: 0;
}
.header__nav__item--submenu a:hover ~ .header__nav__item--submenu2{
    opacity: 1;
    transform: rotateY(0deg);
}
.header__nav__item--submenu2:hover{
    opacity: 1;
    transform: rotateY(0deg);
}
